body {
	color: #000501;
	background-color: #ADE1E5;
}

.jumbotron {
	background-color: #99D19C;
	border: 2px solid #73AB84;
	border-radius: 10px;
}

.content {
	background-color: #79C7C5;
	border: 2px solid #73AB84;
	border-radius: 10px;
	margin: 15px 0;
	max-width: 1140px;
	padding-bottom: 10px;
}

th {
	font-weight: 700;
}